.score-container {
    display: flex;
    align-items: center;
}

.score-color {
    border-radius: 999px;
    height: 10px;
    width: 10px;
    margin-right: 8px;
}

.score-bad {
    background-color:#ff4747;
}

.score-ok {
    background-color: #f7b63e;
}

.score-good {
    background-color: #4d9f4d;
}